<html>
<head></head>
<body>
    <form action="form" method="post">
        <div>
            <label>Name:</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label>e-Mail:</label>
            <input type="text" name="email"/>
        </div>
        <div>
            <label>Phone number:</label>
            <input type="text" name="phone_number"/>
        </div>
        <div>
            <select id="film">
                <option value="first_movie">First movie</option>
                <option value="second_movie">Second movie</option>
            </select>
        </div>
        <div>
            <label>Ticket price:</label>
            <input type="text" name="ticket_price" readonly/>
        </div>
        <div>
            <input type="submit" name="get_ticket"/>
        </div>
    </form>
</body>
</html>
