<html>
    <head>
        <style>
            h1 {color: blue;}
        </style>
    </head>
    <body>
        <form action="/tickets" method="get">
            <div style="text-align: center">
                <h1>Cinema Ticket Shop</h1>
                <input type="submit" value="Get tickets!" id="get_tickets"/>
            </div>
        </form>
    </body>
</html>
