<html>
    <head></head>
    <body>
        <div>
            <label>Done! Your ticket was generated.</label>
        </div>
        <div>
            <label>
            We have sent your ticket for <%= film %> to: <%= email %>
            </label>
        </div>
        <div>
            <input type="button" value="Back to shop" onclick="location.href='/'">
            <input type="button" value="Look your ticket" onclick="location.href='/ticket/<%= ticket_id %>'">
        </div>
    </body>
</html>
