<html>
    <head>
    </head>
    <body>
        <h1>Your ticket</h1>
        <div>Film: <%= film %></div>
        <div>Seat: <%= seat %></div>
        <div>Name: <%= user_name %></div>
    </body>
</html>
