<html>
<head></head>
<body>
    <script type="text/javascript">
        function changeTicketPrice(){
            var price = 0;
            var options = document.getElementById('film').options;
            var film_selected = options.selectedIndex; 
            if(film_selected != undefined){
                if(film_selected == 0){price = 0;}
                if(film_selected == 1){price = 7;}
                if(film_selected == 2){price = 5;}
            }
            document.getElementById('ticket_price').innerHTML = price;
            document.getElementById('ticket_price').value = price;
        }

        function validate_film_selected(){
            var options = document.getElementById('film').options; 
            var field_name = document.getElementById('name');
            var field_email = document.getElementById('email');

            if(field_name.value == ""){
                field_name.style.backgroundColor = "red";
            }else{
                field_name.style.backgroundColor = "white";
            }

            if(field_email.value == ""){
                field_email.style.backgroundColor = "red";
            }else{
                field_email.style.backgroundColor = "white";
            }

            if(options.selectedIndex == 0){
                alert("Dont forget to choose a film!");
            }

            if(field_name.value != "" && field_email != "" && options.selectedItem != 0){
                document.forms["tickets"].submit();
            }
        }
    </script>
    <form action="tickets" method="post" id="tickets" style="text-align: center">
        <div>
            <label>Name:</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div>
            <label>e-Mail:</label>
            <input type="text" name="email" id="email"/>
        </div>
        <div>
            <select id="film" name="film" onchange="changeTicketPrice()">
                <option>Choose a film</option>
                <option id="back_to_the_future" value="Back to the future">Back to the future</option>
                <option id="star_wars_iv" value="Star Wars Episode IV">Star Wars Episode IV</option>
            </select>
        </div>
        <div>
            <label>Ticket price:</label>
            <label id="ticket_price" name="ticket_price" value="0">0</label><label> €</label>
        </div>
        <div>
            <input type="button" value="Buy ticket" onclick="validate_film_selected()" name="get_ticket"/>
        </div>
    </form>
</body>
</html>
